

/*
------- 
imports 
-------
*/


 @import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
 @import url('http://fonts.cdnfonts.com/css/sofia-pro');

/*
--------- 
variables
--------- 
*/



:root{
--ff-primary: 'Sofia Pro', 'Helvetica Neue', Helvetica, sans-serif, Arial;
--ff-secondary: 'Helvetica Neue', Helvetica, sans-serif Arial;
--nav-font-size: 16px;
--line-height: 0.25px;
--spacing: 0.25rem;
--col-quote-offblack: #040A11;
--col-btn-blue: #4289E7;
--col-btn-blue2: rgb(38, 36, 206);
--transition-slow: 1s;
--transition-med: 0.75s;
--transition-fast: 0.5s;
--transition-vfast: 0.25s;
--max-width: 1170px;
--fixed-width: 1520px;
}


/*
------- 
globals
-------
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, 
::before, 
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

body{
  font-family: var(--ff-primary);
  line-height: var(--line-height)
  letter-spacing: var(--spacing);
}


.fas{
  font-size: var(--nav-font-size);
}

h1{
  font-weight: bold;
  font-size: 4rem;
}

h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

p{
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.underline-overline{
  border-bottom: 2px solid #000 ;
  padding-bottom: 5px;
  border-top: 2px solid #000 ;
  padding-top: 5px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  text-transform: capitalize;
}

  .quote{
  font-size: 16px;
  font-weight: lighter;
  color: var(--col-quote-offblack);
  letter-spacing: 0.25rem;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2rem;
}

.quoter{
  text-align: right;
  color: var(--col-quote-offblack);
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

/* Web site clone */

.wrapper{
  width: 75%;
  margin: 0 auto;

}

.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0;
  z-index:99;
}

.nav-header {
  height: 100%;
  width: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-toggle{
  cursor: pointer;
  visibility: hidden;
  transition: var(--transition-med);
  background-color: white;
  border-style: none;

}
.nav-toggle i{
  font-size: 32px;
  text-align: center;
}

.nav-toggle:hover {
  transform: rotate(-90deg);
  color: var(--col-btn-blue);
}

.btn-img img{
  display: block;
  border-style: none;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 60px;
}

.btn-img:hover{
  cursor: pointer;
}

.links-container{
  display: flex;
  font-size: var(--nav-font-size);
  height: 100%;
  visibility: visible;
}

.links-container ul{
  display: flex;
  align-items: center;
}

.links a{
  color: black;
  padding: 10px;
  transition: var(--transition-vfast);
  font-size: 1rem;
  font-weight: normal;
}

.links a:hover{
  color: var(--col-btn-blue);
}

.btn-signup{
  display: flex;
  align-items: center;
  visibility: visible;
}

.btn-lozenge {
  background-color: var(--col-btn-blue);
  height: 44px;
  min-width: 120px;
  max-width: auto;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  display: inline-block;
  border-radius: 22px;
  transition: var(--transition-vfast);
}

.btn-lozenge:hover{
  cursor: pointer;
  background-color: var(--col-btn-blue2);
}

.banner{
  width: 100%;
  margin: 0 auto;
  height: 630px;
}

.social-icons li{
  font-size: 32px;
  color: var(--col-btn-blue)
}

.sub-heading{
  padding-bottom: 2rem;
  text-align: center;
}

.section{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.narrow-section{
  width: 90%;
  margin: 0 auto;
}

.section div{
  flex: 1;
  flex-basis: 100%;
}

.card-vid{
  width: 100%;
  min-height: 400px;
  height: auto;
}

#become-an-astronaut::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../media/hero-BecomeAnAstronaut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(80%);
}

#become-an-astronaut{
  position: relative;
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#spaceport-america::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 630px;
  background: url(../media/hero-SpaceportAmerica.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 3rem;
}

#spaceport-america{
  position: relative;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
}

.hero-content h2{
  margin-top: 5rem;
}

.hero-content p{
  width: 80%;
  margin: 0 auto;
  font-family: var(--ff-secondary);
  font-weight: normal;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-content .btn{
  width:230px;
}

#the-experience{
  position: relative;
}

#the-experience img{
  
  width: 100%;
  margin: 0 auto;
}

#the-experience h2{
  position: absolute;
  left: 5vw;
  top: 6vh;
}



/* 
---------------------
Sign Up Modal Overlay
---------------------
*/

.modal-overlay {
  position: fixed;
  overflow-y: initial !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  transition: var(--transition-med);
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 100;
}
.modal-container {
  overflow-y: auto;
  background: black;
  box-shadow: 1px -27px 12px -14px rgba(0,0,0,0.69);
  color: white;
  border-radius: 2px;
  height: 80%;
  width: 100%;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  /* position: relative; */
}

.modal-container h1{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.modal-container .btn-submit{
  width: 180px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 3rem;
}

.social-icons{
  width: 12%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.social-icons ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.social-icons i{
  color: var(--col-btn-blue);
}

.signup-form{
  padding-top: 1rem;
  text-align: left;
  width: 50%;
  margin: 0 auto;
  
}

.signup-form .lbl, .txt-input{
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.signup-form .chkbox{
  margin-top: 1rem;

}
.signup-form p{
  margin-top: 1rem;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
  transition: var(--transition-med);
}
.close-modal-btn:hover {
  color: red;
  transform: scale(1.3);
}


/* 
-------------
Media Queries
-------------
*/

@media screen and (max-width:1200px) {
  .nav-toggle{
    visibility: visible;
  }
  .links-container{
    visibility: hidden;
  }
  .btn-signup{
    visibility: hidden;
  }
}